* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: white;
}

wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 100vw;

  section {
    container {
      // position: absolute;
      width: 85vw;

      left: calc(50% - 1440px / 2);
      top: 0px;
    }
  }
}
#main {
  width: 100vw;
  height: 100vh;

  border-radius: 0px 0px 64px 64px;

  background-image: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-position: center;
  header {
    color: #fff;
    display: flex;

    justify-content: space-around;
    align-items: center;
    padding: 32px 5vw 0 5vw;
    #main-menu ul {
      display: flex;
      opacity: 0.7;
      li {
        padding: 0 24px;
      }
    }
    .logo {
      position: relative;
      .logo-img {
        width: 5vw;
        height: 3vh;
      }
      .logo-arrow {
        width: 1vw;
        height: 2vh;
        position: absolute;
        top: -5px;
      }
    }
    #user {
      display: flex;
      position: relative;
      > div {
        margin-right: 8px;
        text-align: right;
      }

      .user-text1 {
        opacity: 0.5;
      }
      .user-text2 {
        font-weight: 500;
      }
      .user-img {
        width: 3vw;
        height: 6vh;

        border-radius: 999px;
      }
      .user-dot {
        position: absolute;
        width: 12px;
        height: 12px;
        right: 0px;
        top: 0px;
        border: 1px solid #161414;
        border-radius: 12px;
      }
    }
  }
  #cta {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 62px;
      color: white;
    }
    button {
      margin-top: 32px;
      color: #fff;
      background: #7b61ff;
      border-radius: 12px;
      display: flex;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      padding: 27px 24px;
      > span {
        width: 24px;
        height: 24px;
      }
    }
  }
  #row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
    .row-box {
      width: 80vw;

      background: #ffffff;
      border-radius: 12px;

      display: flex;
      align-items: center;
      justify-content: space-around;
      div {
        display: flex;
        align-items: center;
        img {
          padding-left: 16px;
        }
        span {
          display: flex;
          flex-direction: column;
          padding: 16px 20px;
          label {
            color: #979797;
          }
          input {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #161414;
            border: none;
          }
        }
      }
      button {
        background: #7b61ff;
        border-radius: 12px;
        margin: 14px 8px;

        img {
          width: 24px;
          height: 24px;
          padding: 20px;
        }
      }
    }
  }
}
#popular {
  padding: 120px 0px;
  gap: 10px;

  container {
    display: flex;
    flex-direction: column;
    .popular-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #161414;
      }
      > div {
        background: #f6f4ff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 16px;
          color: #7b61ff;
          padding: 10px;
        }
      }
    }
    .popular-box {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          img {
            width: 13vw;
            height: 25vh;
            border-radius: 12px;
            margin-bottom: 8px;
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p {
              color: #979797;
            }
          }
        }
      }
    }
  }
}
#hotels {
  padding: 0px 0px 120px;
  container {
    display: flex;
    flex-direction: column;
    .hotels-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #161414;
      }
      div {
        background: #f6f4ff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 16px;
          color: #7b61ff;
          padding: 10px;
        }
      }
    }
    .hotels-box {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          img {
            width: 20vw;
            height: 50vh;
            border-radius: 12px;
          }
          div {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #161414;
            span {
              display: flex;
              justify-content: space-between;
              div {
                color: #979797;
                font-size: 14px;
                img {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
#travel {
  display: flex;
  justify-content: center;
  padding: 0px 0px 120px;
  container {
    display: flex;
    flex-direction: column;
    .travel-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #161414;
      }
      div {
        background: #f6f4ff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 16px;
          color: #7b61ff;
          padding: 10px;
        }
      }
    }
    .travel-box {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        
          
          .travel-img1 {
            background-image: url("../img/travel/icecream.png");
            background-position: center;
          background-repeat: no-repeat;
            width: 20vw;
            height: 52vh;
            border-radius: 24px;
          }
          .travel-img2 {
            background-image: url("../img/travel/bridge.png");
            background-position: center;
          background-repeat: no-repeat;
            width: 20vw;
            height: 52vh;
            border-radius: 24px;
          }
        
      }
      .travel-textbox {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 21vw;
        margin: 0px 32px;

        h1 {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #161414;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          color: #979797;
        }
        .post-info {
          display: flex;
          align-items: center;
          justify-content: center;
          > div {
            margin-right: 25px;
            font-size: 12px;
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
#activities {
  display: flex;
  justify-content: center;
  padding: 0px 0px 120px;
  container {
    display: flex;
    flex-direction: column;
    .active-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #161414;
      }
      div {
        background: #f6f4ff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 16px;
          color: #7b61ff;
          padding: 10px;
        }
      }
    }
    .active-box {
      display: flex;
      justify-content: space-between;
      div {
        width: 20vw;
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
      }
      .sailing {
        position: relative;
        background-image: url("../img/activities/Sailing.png");
        
        border-radius: 12px;
        &::after {
          content: "Sailing";
          position: absolute;
          top: 396px;
        }
      }
      .climbing {
        position: relative;
        background-image: url("../img/activities/Climbing.png");
        border-radius: 12px;
        &::after {
          content: "Climbing";
          position: absolute;
          top: 396px;
        }
      }
      .skiing {
        position: relative;
        background-image: url("../img/activities/Skiing.png");
        border-radius: 12px;
        &::after {
          content: "Skiing";
          position: absolute;
          top: 396px;
        }
      }
      .hiking {
        position: relative;
        background-image: url("../img/activities/Hiking.png");
        border-radius: 12px;
        &::after {
          content: "Hiking";
          position: absolute;
          top: 396px;
        }
      }
    }
  }
}
#about {
  padding: 0px 0px 120px;
  container {
    display: flex;
    justify-content: center;
    align-items: center;
    .about-text {
      width: 38vw;
      height: 45vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 60px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #161414;
        margin-bottom: 32px;
      }
      p {
        font-size: 16px;
        line-height: 32px;
        color: #5b5b5b;
        margin-bottom: 32px;
      }
      .about-button {
        width: 133px;
        height: 40px;
        background: #f6f4ff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          font-size: 16px;
          line-height: 16px;
          color: #7b61ff;
          display: flex;
          align-items: center;

          img {
            padding-left: 5px;
          }
        }
      }
    }
    .about-img {
      background-image: url("../img/about/image\ 23.png");
      background-position: center;
      background-repeat: no-repeat;
      width: 35vw;
      height: 65vh;
      border-radius: 24px;
    }
  }
}
#footer {
  background: #f9f9f9;
  width: 100vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  container {
    row {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      .foot-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20vw;
        .logo {
          position: relative;
          margin-bottom: 35px;
          .logo-img {
            width: 67.57px;
            height: 19.42px;
          }
          .logo-arrow {
            width: 16px;
            height: 16px;
            position: absolute;
            top: -5px;
          }
          p {
            color: #979797;
            margin-top: 24px;
          }
        }

        .social {
          width: 160px;
          height: 32px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
      .foot-md {
        width: 30vw;
        display: flex;
        justify-content: space-between;
        h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #161414;
          margin-bottom: 20px;
        }
        ul {
          li {
            color: #979797;
            margin-bottom: 12px;
          }
        }
      }
      .foot-right {
        display: flex;
        flex-direction: column;
        h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #161414;
          margin-bottom: 20px;
        }
        .foot-input {
          display: flex;
          justify-content: space-between;
          .foot-input-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 300px;
            height: 72px;
            background: #ffffff;
            border-radius: 12px;
            margin-right: 16px;
            img {
              margin: 0 18px;
            }
          }
          .foot-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input {
              border: none;
            }
          }
        }
        .foot-btns {
          width: 72px;
          height: 72px;
          background: #7b61ff;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
